
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carritos</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <div>
    <h2>Carritos</h2>
    {{#each carts}}
    <div>
      <h3>Carrito ID: {{this._id}}</h3>
      <ul>
        {{#each this.products}}
        <li>
          Producto: {{this.product.name}} - Cantidad: {{this.quantity}}
        </li>
        {{/each}}
      </ul>
      <button onclick="deleteCart('{{this._id}}')">Eliminar Carrito</button>
    </div>
    {{/each}}

    <script>
      async function deleteCart(cartId) {
        try {
          const response = await fetch(`/api/carts/${cartId}`, {
            method: 'DELETE',
          });
          if (response.ok) {
            Swal.fire({
              icon: 'success',
              title: 'Carrito eliminado',
              text: 'El carrito ha sido removido.',
              timer: 2000,
              showConfirmButton: false
            }).then(() => {
              location.reload(); 
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'Error al eliminar el carrito.',
              showConfirmButton: true
            });
          }
        } catch (error) {
          console.error('Error:', error);
          Swal.fire({
            icon: 'error',
            title: 'Error de conexión',
            text: 'No se pudo conectar con el servidor.',
            showConfirmButton: true
          });
        }
      }
    </script>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/index.js"></script>
</body>

</html>


